<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>childOrder</key>
	<array>
		<string>1.imageset</string>
		<string>2.imageset</string>
		<string>3.imageset</string>
		<string>4.imageset</string>
		<string>AppIcon.appiconset</string>
		<string>LaunchImage.launchimage</string>
	</array>
	<key>createMarkedFile</key>
	<false/>
</dict>
</plist>
