<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>createMarkedFile</key>
	<false/>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>lapi.c</string>
		</array>
		<array>
			<string>lapi.h</string>
		</array>
		<array>
			<string>lauxlib.c</string>
		</array>
		<array>
			<string>lauxlib.h</string>
		</array>
		<array>
			<string>lbaselib.c</string>
		</array>
		<array>
			<string>lcode.c</string>
		</array>
		<array>
			<string>lcode.h</string>
		</array>
		<array>
			<string>ldblib.c</string>
		</array>
		<array>
			<string>ldebug.c</string>
		</array>
		<array>
			<string>ldebug.h</string>
		</array>
		<array>
			<string>ldo.c</string>
		</array>
		<array>
			<string>ldo.h</string>
		</array>
		<array>
			<string>ldump.c</string>
		</array>
		<array>
			<string>lfunc.c</string>
		</array>
		<array>
			<string>lfunc.h</string>
		</array>
		<array>
			<string>lgc.c</string>
		</array>
		<array>
			<string>lgc.h</string>
		</array>
		<array>
			<string>linit.c</string>
		</array>
		<array>
			<string>liolib.c</string>
		</array>
		<array>
			<string>llex.c</string>
		</array>
		<array>
			<string>llex.h</string>
		</array>
		<array>
			<string>llimits.h</string>
		</array>
		<array>
			<string>lmathlib.c</string>
		</array>
		<array>
			<string>lmem.c</string>
		</array>
		<array>
			<string>lmem.h</string>
		</array>
		<array>
			<string>loadlib.c</string>
		</array>
		<array>
			<string>lobject.c</string>
		</array>
		<array>
			<string>lobject.h</string>
		</array>
		<array>
			<string>lopcodes.c</string>
		</array>
		<array>
			<string>lopcodes.h</string>
		</array>
		<array>
			<string>loslib.c</string>
		</array>
		<array>
			<string>lparser.c</string>
		</array>
		<array>
			<string>lparser.h</string>
		</array>
		<array>
			<string>lstate.c</string>
		</array>
		<array>
			<string>lstate.h</string>
		</array>
		<array>
			<string>lstring.c</string>
		</array>
		<array>
			<string>lstring.h</string>
		</array>
		<array>
			<string>lstrlib.c</string>
		</array>
		<array>
			<string>ltable.c</string>
		</array>
		<array>
			<string>ltable.h</string>
		</array>
		<array>
			<string>ltablib.c</string>
		</array>
		<array>
			<string>ltm.c</string>
		</array>
		<array>
			<string>ltm.h</string>
		</array>
		<array>
			<string>lua.h</string>
		</array>
		<array>
			<string>luaconf.h</string>
		</array>
		<array>
			<string>lualib.h</string>
		</array>
		<array>
			<string>lundump.c</string>
		</array>
		<array>
			<string>lundump.h</string>
		</array>
		<array>
			<string>lvm.c</string>
		</array>
		<array>
			<string>lvm.h</string>
		</array>
		<array>
			<string>lzio.c</string>
		</array>
		<array>
			<string>lzio.h</string>
		</array>
		<array>
			<string>print.c</string>
		</array>
	</array>
</dict>
</plist>
